<!DOCTYPE html>
<html lang="en" data-theme="dark">
<%- include("partials/header.ejs"); %>

<body>
<%- include("partials/nav.ejs"); %>

<div class="container" style="margin-top:1em;">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="padding-top: 8px; height: 33vw;">
                <h5>Live Stream Settings</h5>
                <div class="d-flex" style="padding:16px;">
                    Stream Key:&nbsp;<code>sfd98hjw9e8h9438hf9h839h49f8h</code>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
<%- include("partials/footer.ejs"); %>
</html>
